.StakeV2 .Page-title-section {
  position: relative;
  z-index: 2;
}

.VesterDepositModal-info-rows {
  margin-bottom: 0.8rem;
}

.CompoundModal-menu {
  margin-bottom: 0.8rem;
}

.CompoundModal-menu .Checkbox {
  margin-bottom: 0.465rem;
}

.StakeV2-address-input {
  padding: 1.5rem 3.41rem;
  padding-bottom: 0;
}

.StakeV2-buy-gmx-modal .Modal-content {
  max-width: 46.5rem;
}

.StakeV2-address-input input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.7rem;
}

.StakeV2-boost-bar {
  overflow: hidden;
  vertical-align: middle;
  margin-left: 0.31rem;
  border-radius: 2px;
  width: 1.5rem;
  height: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  position: relative;
}

.StakeV2-boost-icon {
  font-size: 1.085rem;
  z-index: 2;
}

.StakeV2-boost-bar-fill {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
}

.StakeV2-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

.StakeV2-section {
  margin-top: 1.5rem;
}

.App-card-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.App-card-buttons.glp-buttons {
  padding-top: 0.8rem;
}

.App-card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 1.5rem 1.8rem;
}
.App-card-footer .App-card-divider {
  margin-bottom: 1.8rem;
}

.Stake-modal-icons {
  display: inline-flex;
  line-height: 1;
}

.Stake-modal-icons .icon {
  vertical-align: bottom;
}

@media (max-width: 900px) {
  .StakeV2-cards {
    grid-template-columns: 1fr;
  }

  .StakeV2-content {
    min-height: 100vh;
  }

  .StakeV2-total-rewards-card {
    grid-row: 4;
  }
  .App-card-footer {
    position: relative;
    padding: 0;
  }
}
.StakeV2-content{
  margin-bottom: 15px;
}
.StakeV2-title{
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 3px solid #1d202e;
  margin-bottom: 10px;
}
.StakeV2-box{
  display: flex;
  position: relative;
  gap: 15px;
}
.StakeV2-totalBox{
  width: 233px;
  height: 68px;
  border-radius: 8px 0px 0px 0px;
  padding: 12px;
  background: #1d202e;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 900;
  text-align: left;
}
.StakeV2-tit{
  font-family: Satoshi;
  font-size: 12px;
  font-weight: 500;
  color: #5A5B5D;
  margin-bottom: 10px;
}
.StakeV2-button{
  position: absolute!important;
  padding: 10px 20px!important;
  background: #5D00FB!important;
  text-decoration: none;
  right: 0px;
  top: 15px;
}
.StakeV2-claimBox{
  display: flex;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-right: 20%;
}
.StakeV2-claimNum{
  font-size: 48px;
  font-weight: 700;
}
.StakeV2-claimToken{
  padding-top: 35px;
  margin-left: 5px;
}
.StakeV2-fomBox{
  width: 200px;
  height: 68px;
  border-radius: 8px 0px 0px 0px;
  padding: 12px;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 900;
  text-align: left;
}
.StakeV2-stakeTitle{
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}
.StakeV2-stakeButton{
  position: absolute!important;
  padding: 10px 20px!important;
  background: #5D00FB!important;
  text-decoration: none;
  right: 0px;
  top: -2px;
}
.bigModal .Modal-content{
  width: 50rem;
}
/* .box-padding{
  padding: 0 150px;
} */